Options -Indexes

Redirect 301 /portfolio https://basheer.co/portfolio.pdf
Redirect 301 /about https://basheer.co
Redirect 301 /archive https://student.basheer.co/bitsnbobs
Redirect 301 /visualization https://student.basheer.co/bitsnbobs
Redirect 301 /fabrication https://student.basheer.co/electronics
Redirect 301 /hue https://student.basheer.co/hue
Redirect 301 /chroma https://student.basheer.co/chroma
Redirect 301 /instinct https://student.basheer.co/instinct
Redirect 301 /research https://student.basheer.co/research
Redirect 301 /screen https://student.basheer.co/screen
Redirect 301 /electronics https://student.basheer.co/electronics
Redirect 301 /bitsnbobs https://student.basheer.co/bitsnbobs
Redirect 301 /cardinal https://student.basheer.co/cardinal
Redirect 301 /fuse https://student.basheer.co/fuse