* { margin:0; padding:0; outline: 0;}
html { min-height: 100%; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
ol,ul { list-style: none; }
img {border: 0;}
a {text-decoration: none;}

html {
  height: 100%;
}

body {
  background: #101010;
  color: #fff;
  font-family:'karbonregular',Sans-Serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'karbonregular';
    src: url('assets/fonts/karbon-regular-webfont.eot');
    src: url('assets/fonts/karbon-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/karbon-regular-webfont.woff') format('woff'),
         url('assets/fonts/karbon-regular-webfont.ttf') format('truetype'),
         url('assets/fonts/karbon-regular-webfont.svg#karbonregular') format('svg');
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'karbonmedium';
    src: url('assets/fonts/karbon-medium-webfont.eot');
    src: url('assets/fonts/karbon-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/karbon-medium-webfont.woff') format('woff'),
         url('assets/fonts/karbon-medium-webfont.ttf') format('truetype'),
         url('assets/fonts/karbon-medium-webfont.svg#karbonsemibold') format('svg');
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'karbonsemibold';
    src: url('assets/fonts/karbon-semibold-webfont.eot');
    src: url('assets/fonts/karbon-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/karbon-semibold-webfont.woff') format('woff'),
         url('assets/fonts/karbon-semibold-webfont.ttf') format('truetype'),
         url('assets/fonts/karbon-semibold-webfont.svg#karbonsemibold') format('svg');
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'karbonlight';
    src: url('assets/fonts/karbon-light-webfont.eot');
    src: url('assets/fonts/karbon-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/karbon-light-webfont.woff') format('woff'),
         url('assets/fonts/karbon-light-webfont.ttf') format('truetype'),
         url('assets/fonts/karbon-light-webfont.svg#karbonlight') format('svg');
    font-weight: normal;
    font-style: normal; }

::selection {
  background: rgba(255,216,0,.7);
  color: rgba(0,0,0,.7);
  text-shadow: none;
}
::-moz-selection {
  background: rgba(255,216,0,.7);
  color: rgba(0,0,0,.7);
  text-shadow: none;
}

@-moz-document url-prefix() {
  body {
    font-family:'karbonlight',Sans-Serif;
  }
}