@font-face {
    font-family: 'karbonregularitalic';
    src: url('assets/fonts/karbon-regularitalic-webfont.eot');
    src: url('assets/fonts/karbon-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/karbon-regularitalic-webfont.woff') format('woff'),
         url('assets/fonts/karbon-regularitalic-webfont.ttf') format('truetype'),
         url('assets/fonts/karbon-regularitalic-webfont.svg#karbonregularitalic') format('svg');
    font-weight: normal;
    font-style: normal; }

html {
  height: 100%;
}

body {
  height: 100%;
  background: #000 url('assets/chalkboard.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.intro {
  text-align: center;
  padding-top: 8em;
}

.horse {
  width: 150px;
  height: 89px;
  background: url('assets/muybridge.png') center 0px/150px 938px no-repeat;
  margin: 0 auto;
}

.intro h2 {
  text-transform: uppercase;
  font-family:'karbonlight',Sans-Serif;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: 2px;
}

.intro h3 {
  font-family:'karbonlight',Sans-Serif;
  font-size: 26px; 
}

.navigation {
  display: none;
}

@-moz-document url-prefix() {
  .frame .intro, .navigation li a {
    font-family:'karbonlight',Sans-Serif;
  }
}