@font-face {
    font-family: 'karbonregularitalic';
    src: url('assets/fonts/karbon-regularitalic-webfont.eot');
    src: url('assets/fonts/karbon-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/karbon-regularitalic-webfont.woff') format('woff'),
         url('assets/fonts/karbon-regularitalic-webfont.ttf') format('truetype'),
         url('assets/fonts/karbon-regularitalic-webfont.svg#karbonregularitalic') format('svg');
    font-weight: normal;
    font-style: normal; }

html {
  height: 100%;
}

body {
  background: #000;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  pointer-events: text;
}

.intro {
  position: fixed;
  display: table;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  -moz-animation: fadeIn ease-in 1s;
  -webkit-animation: fadeIn ease-in 1s;
  animation: fadeIn ease-in 1s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.bio {
  display: table-cell;
  vertical-align: middle;
}

.intro h2 {
  position: relative;
  display: block;
  max-width: 700px;
  margin: 0 auto;
  font-family:'karbonlight',Sans-Serif;
  font-size: 45px;
  line-height: 50px;
  text-align: left;
}

.firefly {
  position: absolute;
  bottom: 50%;
  right: 50%;
  margin-right: -250px;
  margin-bottom: -250px;
  opacity: .1;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
}

.arrow {
  position: absolute;
  bottom: 5%;
  right: 50%;
  margin-right: -18px;
  width: 36px;
  opacity: .25;
}

.wrapper {
  display: table;
  position: absolute;
  top: 100%;
  width: 100%;
  min-height: 100%;
  background: #000;
  box-shadow: 0 0 250px 50px #000;
}

.page {
  display: table-cell;
  vertical-align: middle;
}

.thumbnails a .thumbimage {
  display: block;
  width: 300px;
  height: 169px;
  background: transparent no-repeat left top;
  background-position: -2400px;
  background-size: 5700px 100%;
}

.thumbnails a[href*='cardinal'] .thumbimage { background-image: url('assets/cardinal.jpg'); }
.thumbnails a[href*='hue'] .thumbimage { background-image: url('assets/hue.jpg'); }
.thumbnails a[href*='instinct'] .thumbimage { background-image: url('assets/instinct.jpg'); }
.thumbnails a[href*='chroma'] .thumbimage { background-image: url('assets/chroma.jpg'); }
.thumbnails a[href*='fuse'] .thumbimage { background-image: url('assets/fuse.jpg'); }
.thumbnails a[href*='glass'] .thumbimage { background-image: url('assets/glass.jpg'); }
.thumbnails a[href*='fabrication'] .thumbimage { background-image: url('assets/fabrication.jpg'); }
.thumbnails a[href*='visualization'] .thumbimage { background-image: url('assets/visualization.jpg'); }
.thumbnails a[href*='electronics'] .thumbimage { background-image: url('assets/electronics.jpg'); }

.thumbnails {
  max-width: 950px;
  margin: 0 auto;
}

.thumbnails li {
  display: inline-block;
  width: 300px;
  margin: 0 25px 25px 0;
  text-align: center;
}

.thumbnails li:nth-child(3n) {
  margin-right: 0;
}

.thumbnails img {
  width: 300px;
  margin-bottom: -25px;
}

.thumbnails h4 {
  font-family:'karbonlight',Sans-Serif;
  font-size: 26px;
  color: #fff;
  -webkit-transition: .1s linear text-shadow;
  -moz-transition: .1s linear text-shadow;
  transition: .1s linear text-shadow
}

.thumbnails h5 {
  font-family:'karbonregularitalic',Sans-Serif;
  font-size: 16px;
  color: #fff;
  opacity: .6;
  -webkit-transition: .1s linear opacity, .1s linear text-shadow;
  -moz-transition: .1s linear opacity, .1s linear text-shadow;
  transition: .1s linear opacity, .1s linear text-shadow;
}

.thumbnails a:hover {
  position: relative;
  bottom: 1px;
}

.thumbnails a:hover h4 {
  text-shadow: 0 0 10px #fff, 0 0 30px #fff, 0 0 50px #fff;
}

.thumbnails a:hover h5 {
  opacity: .7;
  text-shadow: 0 0 10px #fff, 0 0 30px #fff;
}

.thumbnails a:active {
  position: relative;
  bottom: -1px;
}

.archive {
  display: block;
  max-width: 950px;
  margin: 3em auto 0 auto;
  padding-top: 2em;
  text-align: center;
  border-top: 1px solid #333;
}

.archive h4 {
  font-family:'karbonlight',Sans-Serif;
  font-size: 26px;
  color: #fff;
  -webkit-transition: .1s linear text-shadow;
  -moz-transition: .1s linear text-shadow;
  transition: .1s linear text-shadow
}

.archive h5 {
  font-family:'karbonregularitalic',Sans-Serif;
  font-size: 16px;
  color: #fff;
  opacity: .6;
  -webkit-transition: .1s linear opacity, .1s linear text-shadow;
  -moz-transition: .1s linear opacity, .1s linear text-shadow;
  transition: .1s linear opacity, .1s linear text-shadow;
}

.archive:hover h4, .archive:hover h5 {
  position: relative;
  bottom: 1px;
}

.archive:hover h4 {
  text-shadow: 0 0 10px #fff, 0 0 30px #fff, 0 0 50px #fff;
}

.archive:hover h5 {
  opacity: .7;
  text-shadow: 0 0 10px #fff, 0 0 30px #fff;
}

.archive:active h4, .archive:active h5 {
  position: relative;
  bottom: -1px;
}

@media (min-width: 675px) {
  html.touch .intro {
    position: absolute;
    opacity: 1 !important;
    -moz-animation: none;
    -webkit-animation: none;
    animation: none;
  }
}

@media (max-width: 1000px) {
  .thumbnails {
    max-width: 625px;
  }

  .thumbnails li:nth-child(3n) {
    margin-right: 25px;
  }

  .thumbnails li:nth-child(2n) {
    margin-right: 0;
  }

  .archive {
    max-width: 625px;
    margin: 2em auto 0 auto;
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

@media (max-width: 900px) {
  .thumbnails {
    margin: 0 auto;
  }

  .intro {
    position: absolute;
    opacity: 1 !important;
  }

  .intro h2 {
    font-size: 35px;
    line-height: 40px;
    max-width: 530px;
  }

  .firefly {
    width: 400px;
    margin-right: -200px;
    margin-bottom: -200px;
    opacity: .1;
    border-radius: 200px;
  }
}

@media (max-width: 675px) {
  .intro {
    clear: both;
    position: relative;
    height: auto;
    padding-top: 15px;
  }

  .bio {
    display: block;
    margin: 7em 0;
  }

  .intro h2 {
    width: 420px;
  }

  .arrow {
    display: none;
  }

  .wrapper {
    position: static;
    margin-top: 30px;
  }

  .thumbnails {
    width: 100%;
    max-width: 300px;
  }

  .thumbnails li {
    margin: 0 0 25px 0;
    width: 100%;
  }

  .thumbnails img {
    width: 100%;
  }

  .archive {
    margin: 3em 30px 0 30px;
  }
}

@media (max-width: 500px) {
  .intro {
    overflow: hidden;
  }

  .intro h2 {
    width: 200px;
  }

  .bio {
    margin: 0;
  }

  .thumbnails li {
    margin: 0 auto 25px auto;
    width: 90%;
  }
}

@media (max-height: 400px) and (min-width: 675px) {
  .intro {
    height: 400px;
  }

  .arrow {
    display: none;
  }

  .wrapper {
    top: 400px;
  }
}

@media (max-height: 950px) {
  .archive {
    padding-bottom: 3em;
  }
}

@-moz-document url-prefix() {
  .frame .intro, .navigation li a {
    font-family:'karbonlight',Sans-Serif;
  }
}