@font-face {
    font-family: 'karbonregularitalic';
    src: url('assets/fonts/karbon-regularitalic-webfont.eot');
    src: url('assets/fonts/karbon-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/karbon-regularitalic-webfont.woff') format('woff'),
         url('assets/fonts/karbon-regularitalic-webfont.ttf') format('truetype'),
         url('assets/fonts/karbon-regularitalic-webfont.svg#karbonregularitalic') format('svg');
    font-weight: normal;
    font-style: normal; }

html {
  height: 100%;
}

body {
  background: rgba(0,0,0,.3);
  height: 100%;
  -webkit-transition: .2s linear background;
  -moz-transition: .2s linear background;
  transition: .2s linear background;
}

@-webkit-keyframes hover {
  0% { -webkit-transform: translateY(0px); }
  25% { -webkit-transform: translateY(-5px)rotate(0.5deg); }
  50% { -webkit-transform: translateY(0%)rotate(0deg); }
  75% { -webkit-transform: translateY(5px)rotate(-0.5deg); }
  100% { -webkit-transform: translateY(0px); }}
@-moz-keyframes hover {
  0% { -webkit-transform: translateY(0px); }
  25% { -webkit-transform: translateY(-5px)rotate(0.5deg); }
  50% { -webkit-transform: translateY(0%)rotate(0deg); }
  75% { -webkit-transform: translateY(5px)rotate(-0.5deg); }
  100% { -webkit-transform: translateY(0px); }}
@keyframes hover {
  0% { -webkit-transform: translateY(0px); }
  25% { -webkit-transform: translateY(-5px)rotate(0.5deg); }
  50% { -webkit-transform: translateY(0%)rotate(0deg); }
  75% { -webkit-transform: translateY(5px)rotate(-0.5deg); }
  100% { -webkit-transform: translateY(0px); }}

.photo {
  position: fixed;
  top: -2.5%;
  left: -2.5%;
  width: 105%;
  height: 105%;
  opacity: 1;
  background: url('assets/background.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-animation: hover 8s ease-out infinite;
  -moz-animation: hover 8s ease-out infinite;
  animation: hover 8s ease-out infinite;
  z-index: 0;
}

.photo span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('assets/wood.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  opacity: 0;
  -webkit-transition: 1.5s linear opacity;
  -moz-transition: 1.5s linear opacity;
  transition: 1.5s linear opacity;
}

.frame {
  position: fixed;
  bottom: calc(50% - 160px);
  right: calc(50% - 400px);
  width: 800px;
  height: 320px;
  color: #fff;
  box-shadow: inset 0 0 0 7px #fff, inset 0 8px 3px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.2), 0 0 250px rgba(255,255,255,.3);
  z-index: 5;
}

.frame .intro {
  position: fixed;
  font-family:'karbonregular',Sans-Serif;
  font-size: 32px;
  line-height: 38px;
  width: 600px;
  top: calc(50% - 34px);
  left: 0;
  right: 0;
  margin: auto;
}

.stage {
  display: block;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: 1.5s linear background;
  -moz-transition: 1.5s linear background;
  transition: 1.5s linear background;
}

.navigation {
  position: absolute;
  top: 100%;
  right: calc(50% - 400px);
  width: 800px;
  z-index: 2;
  padding-bottom: 35%;
}

.navigation fieldset {
  border: 0px;
  border-top: 1px solid #fff;
  text-align: center;
  margin-bottom: 40px;
  opacity: .5;
}

.navigation fieldset legend {
  display: inline-block;
  font-family:'karbonregularitalic',Sans-Serif;
  font-size: 24px;
  padding: 0 20px;
}

.navigation li {
  display: block;
}

.navigation li a {
  display: block;
  position: relative;
  left: 0px;
  font-family: 'karbonregular',Sans-Serif;
  font-size: 80px;
  height: 96px;
  color: #fff;
  -webkit-transition: .1s linear opacity, .1s linear -webkit-transform;
  -moz-transition: .1s linear opacity, .1s linear -moz-transform;
  transition: .1s linear opacity, .1s linear transform;
}

.navigation li a:hover {
  -webkit-transform: translate(5px, 0);
  -moz-transform: translate(5px, 0);
  transform: translate(5px, 0);
}

.navigation li a:active {
  top: 1px;
}

.navigation li a span:first-child {
  display: inline-block;
}

.navigation li a span:last-child {
  display: inline-block;
  margin-left: 1em;
  font-size: 25px;
  float: right;
  line-height: 96px;
  opacity: .6;
}

.scroll {
  position: fixed;
  top: calc(50% + 180px);
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  text-shadow: 0 2px 3px rgba(0,0,0,.25);
  z-index: 4;
  -webkit-animation: notice 2s infinite alternate ease-in-out;
  -moz-animation: none;
  animation: none;
}

@-webkit-keyframes notice {
  0% {top: calc(50% + 180px);}
  50% {top: calc(50% + 195px);}
  100% {top: calc(50% + 180px);} }

.scroll::before, .scroll::after {
  content: "v";
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  top: -5px;
  font-family:'karbonlight',Sans-Serif;
  font-size: 60px;
  -webkit-transform: scale(1,.2);
  -moz-transform: scale(1,.2);
  transform: scale(1,.2); }
.scroll::after {
  top: 0; }

html.touch {
  background: #1a1a1a url('assets/background.jpg') no-repeat 55% center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

html.touch .frame, html.touch .scroll, html.touch .photo, html.touch .stage {
  display: none !important;
}

html.touch .navigation {
  position: static;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

html.touch .navigation fieldset {
  display: none !important;
}

html.touch .navigation li, html.touch .navigation li a span:first-child {
  display: inline;
}

html.touch .navigation li::after {
  content:"\a";
  white-space: pre;
}

html.touch .navigation li a {
  display: inline-block;
}

html.touch .navigation li a span:last-child {
  display: none;
}

@media (max-width: 900px), (max-height: 500px) {
  html {
    background: url('assets/background.jpg') no-repeat 55% center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }

  .frame, .scroll, .photo, .stage {
    display: none !important;
  }

  .navigation {
    position: static;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important;
  }

  .navigation fieldset {
    display: none !important;
  }

  .navigation li, .navigation li a span:first-child {
    display: inline;
  }

  .navigation li::after {
    content:"\a";
    white-space: pre;
  }

  .navigation li a {
    display: inline-block;
  }

  .navigation li a span:last-child {
    display: none;
  }
}

@media (max-width: 600px) {
  .navigation {
    clear: both;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 15px !important;
  }
}

@media (max-width: 500px) {
  .navigation li a {
    font-size: 40px;
    height: 50px;
  }
}

@-moz-document url-prefix() {
  .frame .intro, .navigation li a {
    font-family:'karbonlight',Sans-Serif;
  }
}