* { margin:0; padding:0; outline: 0;}
html { min-height: 100%; }
h1,h2,h3 { font-size: 100%; font-weight: normal; }
ol,ul { list-style: none; }
img {border: 0;}
a {text-decoration: none;}

html {
  height: 100%;
}

body {
  background: rgba(0,0,0,.3);
  color: #fff;
	font-family:'karbonregular',Sans-Serif;
  height: 100%;
  -webkit-transition: .2s linear background;
  -moz-transition: .2s linear background;
  transition: .2s linear background;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'karbonregular';
    src: url('fonts/karbon-regular-webfont.eot');
    src: url('fonts/karbon-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karbon-regular-webfont.woff') format('woff'),
         url('fonts/karbon-regular-webfont.ttf') format('truetype'),
         url('fonts/karbon-regular-webfont.svg#karbonregular') format('svg');
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'karbonsemibold';
    src: url('fonts/karbon-semibold-webfont.eot');
    src: url('fonts/karbon-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karbon-semibold-webfont.woff') format('woff'),
         url('fonts/karbon-semibold-webfont.ttf') format('truetype'),
         url('fonts/karbon-semibold-webfont.svg#karbonsemibold') format('svg');
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'karbonlight';
    src: url('fonts/karbon-light-webfont.eot');
    src: url('fonts/karbon-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karbon-light-webfont.woff') format('woff'),
         url('fonts/karbon-light-webfont.ttf') format('truetype'),
         url('fonts/karbon-light-webfont.svg#karbonlight') format('svg');
    font-weight: normal;
    font-style: normal; }

::selection {
  background: rgba(255,216,0,.7);
  color: rgba(0,0,0,.7);
  text-shadow: none;
}
::-moz-selection {
  background: rgba(255,216,0,.7);
  color: rgba(0,0,0,.7);
  text-shadow: none;
}

@-webkit-keyframes hover {
  0% { -webkit-transform: translateY(0px); }
  25% { -webkit-transform: translateY(-5px)rotate(0.5deg); }
  50% { -webkit-transform: translateY(0%)rotate(0deg); }
  75% { -webkit-transform: translateY(5px)rotate(-0.5deg); }
  100% { -webkit-transform: translateY(0px); }}
@-moz-keyframes hover {
  0% { -webkit-transform: translateY(0px); }
  25% { -webkit-transform: translateY(-5px)rotate(0.5deg); }
  50% { -webkit-transform: translateY(0%)rotate(0deg); }
  75% { -webkit-transform: translateY(5px)rotate(-0.5deg); }
  100% { -webkit-transform: translateY(0px); }}
@keyframes hover {
  0% { -webkit-transform: translateY(0px); }
  25% { -webkit-transform: translateY(-5px)rotate(0.5deg); }
  50% { -webkit-transform: translateY(0%)rotate(0deg); }
  75% { -webkit-transform: translateY(5px)rotate(-0.5deg); }
  100% { -webkit-transform: translateY(0px); }}

.photo {
  position: fixed;
  top: -2.5%;
  left: -2.5%;
  width: 105%;
  height: 105%;
  opacity: 1;
  background: url('background.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-animation: hover 8s ease-out infinite;
  -moz-animation: hover 8s ease-out infinite;
  animation: hover 8s ease-out infinite;
  z-index: 0;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 50px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 6;
}

.header a {
  font-family: 'karbonsemibold',Sans-Serif;
  font-size: 17px;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0);
  -webkit-transition: .1s linear border-bottom;
  -moz-transition: .1s linear border-bottom;
  transition: .1s linear border-bottom;
}

.header a:hover {
  border-bottom: 1px solid rgba(255,255,255,1); }
.header a:active {
  position: relative; top: 1px; }

.header h1, .header .links {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
  pointer-events: auto;
}

.header h1, .header li {
  display: inline-block;
}

.header .links {
  float: right;
  text-align: right;
}

.header li {
  margin-left: 2.25em;
}

.header li:first-child {
  margin-left: 0;
}

.ghost {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
}

.frame {
  position: fixed;
  bottom: calc(50% - 160px);
  right: calc(50% - 400px);
  width: 800px;
  height: 320px;
  color: #fff;
  box-shadow: inset 0 0 0 7px #fff, inset 0 8px 3px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.2), 0 0 250px rgba(255,255,255,.3);
  z-index: 5;
}

.frame .intro {
  position: fixed;
  font-family:'karbonregular',Sans-Serif;
  font-size: 32px;
  line-height: 38px;
  width: 600px;
  top: calc(50% - 34px);
  left: 0;
  right: 0;
  margin: auto;
}

.frame .arrow {
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 50px;
  font-size: 80px;
  line-height: 12px;
}

.stage {
  display: block;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: .2s linear background;
  -moz-transition: .2s linear background;
  transition: .2s linear background;
}

.stage video {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}

.navigation {
  position: absolute;
  top: 100%;
  right: calc(50% - 350px);
  width: 700px;
  z-index: 2;
  padding-bottom: 35%;
}

.navigation li {
  display: block;
}

.navigation li a {
  display: inline-block;
  font-family: 'karbonregular',Sans-Serif;
  font-size: 80px;
  height: 96px;
  color: #fff;
  -webkit-transition: .1s linear opacity;
  -moz-transition: .1s linear opacity;
  transition: .1s linear opacity;
}

.navigation li a:active {
  position: relative;
  top: 1px;
}

.scroll {
  position: fixed;
  top: calc(50% + 180px);
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  text-shadow: 0 2px 3px rgba(0,0,0,.25);
  z-index: 4;
  -webkit-animation: notice 2s infinite alternate ease-in-out;
  -moz-animation: none;
  animation: none;
}

@-webkit-keyframes notice {
  0% {top: calc(50% + 180px);}
  50% {top: calc(50% + 195px);}
  100% {top: calc(50% + 180px);} }

.scroll::before, .scroll::after {
  content: "v";
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  top: -5px;
  font-family:'karbonlight',Sans-Serif;
  font-size: 60px;
  -webkit-transform: scale(1,.2);
  -moz-transform: scale(1,.2);
  transform: scale(1,.2); }
.scroll::after {
  top: 0; }

html.touch {
  background: #000 url('background.jpg') no-repeat 55% center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

html.touch .header {
  position: static;
}

html.touch .ghost {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
  pointer-events: auto;
}

html.touch .frame, html.touch .scroll, html.touch .photo, html.touch .stage {
  display: none !important;
}

html.touch .navigation {
  position: static;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

html.touch .navigation li {
  display: inline;
}

html.touch .navigation li::after {
  content:"\a";
  white-space: pre;
}

@media (max-width: 900px), (max-height: 500px) {
  html {
    background: url('background.jpg') no-repeat 55% center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }

  .header {
    position: static;
  }

  .ghost {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    user-select: auto;
    pointer-events: auto;
  }

  .frame, .scroll, .photo, .stage {
    display: none !important;
  }

  .navigation {
    position: static;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important;
  }

  .navigation li {
    display: inline;
  }

  .navigation li::after {
    content:"\a";
    white-space: pre;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 30px;
  }

  .header h1 a {
    border-bottom: 1px solid #fff;
  }

  .header h1, .header .links {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
  }

  .header h1 {
    margin-bottom: 1em;
  }

  .header .links {
    padding-bottom: 20px;
  }

  .navigation {
    clear: both;
    padding-left: 30px;
    padding-right: 30px;
  }

  .filmstrip li h3 {
    padding-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .header {
    width: 300px;
    margin: 0 auto;
  }

  .header li {
    display: inline;
    margin-left: 0;
  }

  .header li a {
    display: inline-block;
    margin-bottom: .5em;
  }

  .header li:nth-child(2n-1) {
    text-align: left;
    margin-right: 3em;
  }
  .header li:nth-child(2n) {
    text-align: right;
  }

  .header li:nth-child(2n)::after {
    content:"\a";
    white-space: pre;
  }

  .navigation li a {
    font-size: 40px;
    height: 50px;
  }
}

@-moz-document url-prefix() {
  body, .frame .intro, .navigation li a {
    font-family:'karbonlight',Sans-Serif;
  }

  .header a {
    font-family: 'karbonregular',Sans-Serif;
   }
}