* { margin:0; padding:0; outline: 0;}
html { min-height: 100%; }
h1,h2,h3 { font-size: 100%; font-weight: normal; }
ol,ul { list-style: none; }
img {border: 0;}

body {
  background: #000;
  color: #fff;
	font-family:'Karbon-Regular',Sans-Serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Karbon-Light';
  src: url('fonts/Karbon-Light.eot');
  src: local('☺'), url('fonts/Karbon-Light.woff') format('woff'), url('fonts/Karbon-Light.ttf') format('truetype'), url('fonts/Karbon-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Karbon-LightItalic';
  src: url('fonts/Karbon-LightItalic.eot');
  src: local('☺'), url('fonts/Karbon-LightItalic.woff') format('woff'), url('fonts/Karbon-LightItalic.ttf') format('truetype'), url('fonts/Karbon-LightItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Karbon-Regular';
  src: url('fonts/Karbon-Regular.eot');
  src: local('☺'), url('fonts/Karbon-Regular.woff') format('woff'), url('fonts/Karbon-Regular.ttf') format('truetype'), url('fonts/Karbon-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Karbon-Medium';
  src: url('fonts/Karbon-Medium.eot');
  src: local('☺'), url('fonts/Karbon-Medium.woff') format('woff'), url('fonts/Karbon-Medium.ttf') format('truetype'), url('fonts/Karbon-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Karbon-SemiBold';
  src: url('fonts/Karbon-SemiBold.eot');
  src: local('☺'), url('fonts/Karbon-SemiBold.woff') format('woff'), url('fonts/Karbon-SemiBold.ttf') format('truetype'), url('fonts/Karbon-SemiBold.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

::selection {
  background: rgba(255,216,0,.7);
  color: rgba(0,0,0,.7);
  text-shadow: none;
}
::-moz-selection {
  background: rgba(255,216,0,.7);
  color: rgba(0,0,0,.7);
  text-shadow: none;
}

@-webkit-keyframes hover {
  0% { -webkit-transform: translateY(0px); }
  25% { -webkit-transform: translateY(-5px)rotate(0.5deg); }
  50% { -webkit-transform: translateY(0%)rotate(0deg); }
  75% { -webkit-transform: translateY(5px)rotate(-0.5deg); }
  100% { -webkit-transform: translateY(0px); }}
@-moz-keyframes hover {
  0% { -webkit-transform: translateY(0px); }
  25% { -webkit-transform: translateY(-5px)rotate(0.5deg); }
  50% { -webkit-transform: translateY(0%)rotate(0deg); }
  75% { -webkit-transform: translateY(5px)rotate(-0.5deg); }
  100% { -webkit-transform: translateY(0px); }}
@keyframes hover {
  0% { -webkit-transform: translateY(0px); }
  25% { -webkit-transform: translateY(-5px)rotate(0.5deg); }
  50% { -webkit-transform: translateY(0%)rotate(0deg); }
  75% { -webkit-transform: translateY(5px)rotate(-0.5deg); }
  100% { -webkit-transform: translateY(0px); }}

.photo {
  position: fixed;
  top: -2.5%;
  left: -2.5%;
  width: 105%;
  height: 105%;
  background: url('background.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-animation: hover 10s ease-out infinite;
  -moz-animation: hover 10s ease-out infinite;
  animation: hover 10s ease-out infinite;
  z-index: 2;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2em 3em;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 3;
}

.header a {
  font-family: 'Karbon-SemiBold',Sans-Serif;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0);
  -webkit-transition: .1s linear border-bottom;
  -moz-transition: .1s linear border-bottom;
  transition: .1s linear border-bottom;
}

.header a:hover {
  border-bottom: 1px solid rgba(255,255,255,1); }
.header a:active {
  position: relative; top: 1px; }

.header h1, .header li {
  display: inline-block;
}

.header ul {
  float: right;
  text-align: right;
}

.header li {
  margin-left: 2.25em;
}

.stage-positioner {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor-events: none;
  display: block;
  position: fixed;
  bottom: 50%;
  right: 50%;
  text-decoration: none;
  cursor: default;
  z-index: 3;
}

.stage {
  position: relative;
  top: 160px;
  left: 400px;
  width: 800px;
  height: 320px;
  box-shadow: inset 0 0 0 7px #fff, 0 0 250px rgba(255,255,255,.3);
}

.stage video {
  display: none;
}

.meta {
  position: absolute;
  top: 480px;
  left: 400px;
  width: 800px;
  color: #fff;
  font-size: 24px;
  margin-top: 10px;
}

.meta .title {
  display: inline-block;
  font-family:'Karbon-Medium',Sans-Serif;
}

.meta .description {
  display: inline-block;
  float: right;
  text-align: right;
}

.filmstrip {
  position: relative;
  width: 800px;
  margin: 50% auto 0 auto;
  height: 100%;
}

.filmstrip span {
  width: 100%;
  height: 0;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.filmstrip #intro {
  position: relative;
  font-family:'Karbon-Regular',Sans-Serif;
  font-size: 32px;
  width: 600px;
  margin: auto;
  z-index: 3;
}

.filmstrip li {
  margin-bottom: 320px;
}

.filmstrip li h2, .filmstrip li h3 {
  display: none;
  color: #fff;
  font-size: 24px;
  margin-top: 10px;
}

.filmstrip li h2 {
  display: inline-block;
  font-family:'Karbon-Medium',Sans-Serif;
}

.filmstrip h3 {
  display: block;
  float: right;
  text-align: right;
}

.nav-positioner {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor-events: none;
  position: fixed;
  bottom: 50%;
  right: 0;
  z-index: 0;
}

.navigation {
  position: relative;
  top: 158px;
  text-indent: -9999px;
  width: 43px;
  margin-right: 3em;
}

.navigation li a {
  display: block;
  width: 43px;
  height: 25px;
  margin-bottom: 6px;
  background: rgba(255,255,255,0);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,1);
  opacity: .2;
  -webkit-transition: .1s linear opacity, .1s linear background;
  -moz-transition: .1s linear opacity, .1s linear background;
  transition: .1s linear opacity, .1s linear background;
}

.navigation li:hover a {
  background: rgba(255,255,255,1); }
.navigation li:active a {
  position: relative;
  top: 1px;
}

.scroll {
  opacity: 0;
  position: fixed;
  top: calc(50% + 180px);
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
  z-index: 3;
  -webkit-animation: notice 2s infinite alternate ease-in-out;
  -moz-animation: notice 2s infinite alternate ease-in-out;
  animation: notice 2s infinite alternate ease-in-out;
}

@-webkit-keyframes notice {
  0% {top: calc(50% + 180px);}
  50% {top: calc(50% + 195px);}
  100% {top: calc(50% + 180px);} }
@-moz-keyframes notice {
  0% {top: calc(50% + 180px);}
  50% {top: calc(50% + 195px);}
  100% {top: 0} }
keyframes notice {
  0% {top: calc(50% + 180px);}
  50% {top: calc(50% + 195px);}
  100% {top: calc(50% + 180px);} }

.scroll::before {
  content: "v";
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  top: -5px;
  font-family:'Karbon-Light',Sans-Serif;
  font-size: 60px;
  -webkit-transform: scale(1,.2);
  -moz-transform: scale(1,.2);
  transform: scale(1,.2);
}

.scroll::after {
  content: "v";
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 0;
  font-family:'Karbon-Light',Sans-Serif;
  font-size: 60px;
  -webkit-transform: scale(1,.2);
  -moz-transform: scale(1,.2);
  transform: scale(1,.2);
}

@media (max-width: 1000px) {
  .nav-positioner {
    display: none;
  }
}

@media (max-width: 900px) {
  .photo {
    display: none;
  }

  .stage-positioner {
    display: none;
  }

  .filmstrip {
    margin-left: 3em;
    margin-right: 3em;
    width: auto;
    max-width: 800px;
  }

  .filmstrip span {
    display: none;
  }

  .filmstrip img {
    width: 100%;
  }

  .filmstrip #intro {
    width: 100%;
    max-width: 600px;
  }

  .filmstrip li {
    margin-bottom: 100px;
  }

  .filmstrip li h2 {
    display: inline-block;
  }

  .filmstrip li h3 {
    display: block;
  }
}

@media (max-width: 600px) {
  .header {
    position: static;
  }

  .header h1, .header ul {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
  }

  .header h1 {
    margin-bottom: 1em;
  }

  .header li:first-child {
    margin-left: 0;
  }
}

@media (max-width: 450px) {
  .header li {
    margin-left: 0;
    display: block;
  }
}