* { margin:0; padding:0; outline: 0;}
h1,h2,h3,h4,h5, h6 { font-size: 100%; font-weight: normal; }
ol,ul { list-style: none; }
img {border: 0;}

body {
  padding: 0;
  text-align: center;
	font-family: "myriad-pro",sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body > .header {
  display: none;
}

.page {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  overflow: auto;
}

.main > div, .sidebar > div {
  margin-bottom: 2em !important;
}

.header {
  padding: 0 0 .5em 0;
  margin-top: -4.5em;
  margin-bottom: .5em;
}

h1 {
  color: #222;
  font-size: 50px;
  font-weight: 300;
  line-height: 45px;
  margin-left: -2px;
}

h2 {
  color: #8f8e8e;
  font-size: 15.4px;
}

h2 a {
  color: #8f8e8e;
  text-decoration: none;
}

h3 {
  font-size: 28px;
  font-weight: 300;
  font-style: italic;
  padding: .1em 0;
  margin: .5em 0 -.2em 0;
  border-bottom: 1px solid rgba(0,0,0,.08);
}

h4 {
  font-size: 21px;
  line-height: 25px;
  font-weight: 300;
  color: #999;
  margin-top: .75em;
}

h4 strong, h4 emphasis {
  color: #000;
}

h4 strong {
  font-weight: 700;
}

h4 emphasis {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}

h5 {
  font-size: 13px;
  color: #b2b2b2;
}

a {
  -o-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

a:hover {
  opacity: .5;
}

a:active {
  position: relative;
  top: 1px;
}

.main {
  float: left;
  max-width: 68%;
  margin-right: 7%;
  vertical-align: top;
}

.main div:first-child h3 {margin-top: 0;}

.main a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #c2c2c2;
}

.main h4 a {
  border-bottom: none;
}

.main p {
  font-size: 16px;
  line-height: 20px;
  margin-top: .2em;
}

.main ul {
  margin-top: .75em;
  text-indent: .75em;
}

.main li {
  position: relative;
  text-indent: 0;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: .4em;
}

.main .experience h4 {
  font-size: 18px;
  line-height: 22px;
}

.main .experience h4 emphasis {
  font-size: 17px;
}

.main .experience p {
  font-size: 14px;
  line-height: 18px;
}

.sidebar {
  float: right;
  color: #555;
  max-width: 25%;
  vertical-align: top;
}

.sidebar h3 {
  font-size: 22px;
  line-height: 28px;
  margin: 0;
  padding-top: .42em;
}

.sidebar p {
  font-size: 14px;
  line-height: 18px;
  margin-top: .6em;
}

.sidebar ul {
  margin-top: .8em;
}

.sidebar a {
  color: #000;
  text-decoration: none;
}

.sidebar .awards li {
  position: relative;
  text-indent: 0;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: .3em;
}

.sidebar .awards li a {
  color: #555;
}

.sidebar .awards li strong {
  display: block;
  font-size: 15px;
  font-weight: 600;
}

.sidebar .awards li p {
  margin: 0 0 .65em 0;
  font-size: 13px;
}

.sidebar .courses ul {
  padding-left: .75em;
  text-indent: .75em;
}

.sidebar .courses li {
  position: relative;
  text-indent: 0;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: .3em;
}

.sidebar .courses li emphasis {
  color: #888;
  font-style: italic;
}

.sidebar .courses li:before {
  content: "\2022";
  position: absolute;
  left: -.75em;
  color: #b2b2b2;
}

.sidebar .skills li, .sidebar .software li {
  display: inline-block;
  width: 48%;
  font-size: 14px;
  line-height: 18px;
  white-space: nowrap;
  overflow-x: hidden;
}

@media (max-width: 1000px) {
  body {
    padding: 0 0 25px 0;
  }

  .page {
    max-width: 1000px;
  }
}

@media (max-width: 800px) {
  .page {
    padding: 12.5%;
  }
  .main {
    float: none;
    max-width: 100%;
    margin-right: 0;
  }

  .sidebar {
    float: none;
    color: #000;
    max-width: 100%;
  }

  .sidebar h3 {
    padding-top: 1em;
  }
}

@media (max-width: 525px) {
  h1 {
    font-size: 35px;
    line-height: 30px;
    margin: 0 0 .1em -2px;
  }

  h2 {
    font-size: 14px;
    line-height: 0;
    color: transparent;
  }

  h2 a {
    display: block;
    line-height: 16px;
  }

  h4 {
    line-height: 0;
    color: transparent;
  }

  h4 strong, h4 emphasis {
    display: block;
    color: #000;
    line-height: 25px;
  }

  h4 strong {
    font-size: 21px;
  }

  h4 emphasis {
    font-size: 20px;
    margin-bottom: .2em;
  }

  .main .experience h4 strong {
    margin-bottom: -1.1em;
  }
}