@font-face {
    font-family: 'karbonmedium';
    src: url('fonts/karbon-medium-webfont.eot');
    src: url('fonts/karbon-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karbon-medium-webfont.woff') format('woff'),
         url('fonts/karbon-medium-webfont.ttf') format('truetype'),
         url('fonts/karbon-medium-webfont.svg#karbonmedium') format('svg');
    font-weight: normal;
    font-style: normal; }

html {
  height: auto;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}

body {
  height: 100%;
  background: transparent;
}

.header {
  position: static !important;
}

.top {
  font-family:'karbonlight',Sans-Serif;
  font-size: 30px;
  line-height: 38px;
  max-width: 700px;
  padding: 50px;
  margin: 10% auto 15% auto;
}

.top h2, .top h3 {
  text-align: center;
}

.top h2 {
  font-size: 85px;
  line-height: 65px;
  text-transform: capitalize;
}

.top h3 {
  font-size: 35px;
  line-height: 50px;
}

.top p {
  margin-top: 1em;
}

.top p:first-child {
  margin-top: 25%;
}

body > .previous, body > .next {
  position: fixed;
  top: 49%;
  font-size: 2em;
  z-index: 1;
}

body > .previous a, body > .next a {
  display: block;
  color: #fff;
  opacity: 0.33;
  border: 0;
  line-height: 1em;
  vertical-align: top;
  padding: 0.5em 1em;
  -o-transition: opacity 0.15s 0 ease;
  -moz-transition: opacity 0.15s 0 ease;
  -webkit-transition: opacity 0.15s 0 ease;
  transition: opacity 0.15s 0 ease;
  -webkit-backface-visibility: hidden;
}

body > .previous a span, body > .next a span {
  display: none;
  -webkit-transition: opacity 0.15s 0 ease;
  -moz-transition: opacity 0.15s 0 ease;
  transition: opacity 0.15s 0 ease;
  -webkit-backface-visibility: hidden;
  opacity: 0;
  font-size: 27px;
  position: relative;
}

body > .previous a:hover, body > .next a:hover {
  opacity: 1;
}

body > .previous a:active, body > .next a:active {
  position: relative;
  top: 1px;
}

body > .previous {
  left: 0;
}

body > .next {
  right: 0;
}

.page {
  max-width: 900px;
  margin: 4em auto 0 auto;
  padding-bottom: 30px;
}

.page > img {
  max-width: 900px;
  width: 100%;
  margin: 30px auto;
}

.page h4 {
  max-width: 800px;
  font-family:'karbonlight',Sans-Serif;
  font-size: 32px;
  line-height: 38px;
  margin: 30px auto;
  padding: 0 50px;
}

.page h4.center {
  text-align: center;
}

.page > p {
  display: block;
  max-width: 800px;
  margin: 30px auto;
  padding: 0 50px;
  font-family:'karbonregular',Sans-Serif;
  font-size: 24px;
  line-height: 32px;
}

.page > p a {
  display: inline-block;
  padding: 0 0.35em;
  color: white;
  opacity: 1;
  -webkit-transition: .1s linear opacity;
  -moz-transition: .1s linear opacity;
  transition: .1s linear opacity;
}

.page > p a:hover {
  opacity: .9;
}

.page > p a:active {
  position: relative;
  top: 1px;
}

.page .columns {
  max-width: 800px;
  margin: 0 auto 30px auto;
  padding-top: 30px;
}

.page .columns::after {
  content: '';
  display: block;
  clear: both;
}

.page .columns p::before, .page .columns p::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  margin-bottom: 10px;
}

.page .column {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.5em;
  vertical-align: top;
}

.page .column img {
  display: block;
  margin: 0 auto 1.25em auto;
  width: 100px;
  height: 100px;
  box-shadow: none;
  border: 0;
}

.page .column h5 {
  font-family:'karbonmedium',Sans-Serif;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: -.5px;
  margin-bottom: 3px;
}

.page .column h6 {
  font-family:'karbonregular',Sans-Serif;
  font-size: 17px;
  line-height: 22px;
  color: #bbb;
}

.page .w3-1:first-child {
  padding-left: 0;
}

.page .column:last-child {
  padding-right: 0; 
}

.page .w2-1 {
  width: 50%;
  position: relative;
  padding: 0 12px 0 132px;
}

.page .w2-1 img {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
}

.page .w2-1 + .w2-1 { padding-right: 0; }
.page .w2-1 + .w2-1 img { left: 12px; }
.page .w3-1 { width: 33.3%; }
.page .w3-2 { width: 66.6%; }
.page .w4-1 { width: 25%; }
.page .w4-2 { width: 50%; }
.page .w4-3 { width: 75%; }
.page .l2-1 { margin-left: 50%; }
.page .l3-1 { margin-left: 33.3%; }
.page .l3-2 { margin-left: 66.6%; }
.page .l4-1 { margin-left: 25%; }
.page .l4-2 { margin-left: 50%; }
.page .l4-3 { margin-left: 75%; }

.fluid-width-video-wrapper {
  width: 100%;
  position: relative;
  padding: 0;
}

.fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video {
  position: relative;
}

.video .poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 5;
}

.video .container {
  display: table;
  height: 100%;
  width: 100%;
}

.video .description {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
  z-index: 6;
}

.video .description .title {
  font-family:'karbonmedium',Sans-Serif;
  font-size: 33px;
  line-height: 40px;
}

.video .description .subtitle {
  font-family:'karbonregular',Sans-Serif;
  font-size: 21px;
  line-height: 21px;
}

.video .poster img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video .play {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 18px 0 18px 28px;
  border-color: transparent transparent transparent #ffffff;
  z-index: 6;
}

.video .timestamp {
  position: absolute;
  bottom: 40px;
  right: 40px;
  font-family:'karbonmedium',Sans-Serif;
  font-size: 20px;
  line-height: 20px;
  text-align: right;
  z-index: 6;
}

.video .caption {
  font-family:'karbonmedium',Sans-Serif;
  text-align: center;
  color: #aaa;
  margin-top: 15px;
  letter-spacing: .3px;
  line-height: 20px;
  padding: 0 50px;
}

.slideshow {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.slideshow-container {
  position: relative;
  margin: 0 auto;
  padding: 30px 0 20px 0;
}

.slideshow li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.slideshow li:first-child {
  position: relative;
  display: block;
  float: left;
}

.slideshow img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.centered-btns_nav {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 90%;
  width: 48%;
}

.centered-btns_nav.next {
  left: auto;
  right: 0;
}

.centered-btns_nav:focus {
  outline: none;
}

.centered-btns_tabs {
  margin: 10px 0 3px 0;
  text-align: center;
}

.centered-btns_tabs li {
  display: inline;
  float: none;
  margin-right: 5px;
  opacity: .25;
  -webkit-transition: .1s linear opacity;
  -moz-transition: .1s linear opacity;
  transition: .1s linear opacity;
}

.centered-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  border-radius: 15px;
  background: #fff;
  display: inline-block;
  width: 9px;
  height: 9px;
}

.centered-btns_tabs li:hover {
  opacity: 1;
}

.centered-btns_tabs li:active {
  position: relative;
  top: 1px;
}

.centered-btns_here {
  opacity: 1 !important;
}

@media (min-width: 1200px) {
  body > .previous a, body > .next a {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 0 50px;
  }

  body > .previous a span, body > .next a span {
    display: inline-block;
  }

  body > .previous a:hover span, body > .next a:hover span {
    opacity: 1;
  }

  body > .previous span {
    margin-left: 0.1em;
    bottom: 0.2em;
  }

  body > .next span {
    margin-right: 0.1em;
    bottom: 0.15em;
  }
}

@media (max-width: 1000px) {
  body > .previous, body > .next {
    display: none;
  }
}

@media (max-width: 900px) {
  body > .header {
    position: relative;
  }

  .top h2 {
    font-size: 75px;
    line-height: 60px;
  }

  .top h3 {
    font-size: 29px;
    line-height: 35px;
  }

  .page {
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .page .columns {
    margin: 0 50px 30px 50px;
  }
}

@media (max-width: 800px) {
  .top h2 {
    font-size: 70px;
    line-height: 55px;
  }

  .top h3 {
    font-size: 27px;
    line-height: 35px;
  }
}

@media (max-width: 700px) {
  .page .w2-1 {
    padding: 0 0.5em !important;
  }
  
  .page .w2-1 img {
    position: static;
    margin: 1.25em auto;
  }
}

@media (max-width: 600px) {
  body > .header {
    position: static;
  }

  body > .header .links {
    padding-bottom: 0;
  }

  body > .header::after {
    content: '';
    display: block;
    clear: both;
  }

  .top {
    font-size: 25px;
    line-height: 32px;
    max-width: 450px;
    padding: 30px;
    margin: 0 auto;
  }

  .top h2 {
    font-size: 50px;
    line-height: 50px;
  }

  .top h3 {
    font-size: 28px;
    line-height: 28px;
  }

  .top p {
    font-family:'karbonregular',Sans-Serif;
  }

  .video .play {
    bottom: 30px;
    left: 30px;
    border-width: 12px 0 12px 19px;
  }

  .video .timestamp {
    bottom: 30px;
    right: 30px;
  }

  .video .caption {
    padding: 0 30px;
  }

  .page {
    margin: 2em auto 0 auto;
  }

  .page h4 {
    padding: 0 30px;
    font-size: 26px;
    line-height: 30px;
  }

  .page > p {
    padding: 0 30px;
  }
}

@media (max-width: 500px) {
  html {
    -webkit-background-size: 150% auto;
    -moz-background-size: 150% auto;
    background-size: 150% auto;
  }

  body {
    background: rgba(0,0,0,.35);
  }

  .top h2 {
    font-size: 50px;
    line-height: 50px;
  }

  .top h3 {
    font-size: 25px;
    line-height: 30px;
  }

  .page {
    padding-bottom: 15px;
  }

  .page > img, .page h4, .page > p, .video {
    margin: 15px auto;
  }

  .page .columns {
    margin: 15px 30px 30px;
    padding-top: 15px;
  }

  .page .column {
    float: none;
    display: block;
    -webkit-box-sizing: auto;
    -moz-box-sizing: auto;
    box-sizing: auto;
    padding: 0 0 1.5em 0;
    vertical-align: auto;
    width: 100% !important;
  }

  .page .column:last-child {
    padding-bottom: 0;
  }

  .video .poster {
    display: none !important;
  }
}

@-moz-document url-prefix() {
  .top p, .page > p, .page .column h6, .video .description .subtitle {
    font-family:'karbonlight',Sans-Serif;
  }

  .page .column h5, .video .description .title, .video .timestamp {
    font-family:'karbonregular',Sans-Serif;
  }
}